extends layout 

block content 
        
        .jumbotron
            h1.display-4 Collecty'Form 
            p.lead Bienvenue !
        .row.mx-auto
          .col-sm-6.align-middle
            form(class="formColor")
              
              input.text.form-control(name='color', value=query.color placeholder="Couleur")
          .col-sm-6
            form()
              input.text.form-control(name='type', value=query.type placeholder="Type d'exercice")
             
          .col-sm-6
            form(class="formTypeGarment")
              
              input.text.form-control(name='garment', value=query.garment placeholder="Vêtement")
          .col-sm-6
            form()
              input.text.form-control(name='typeGarment', value=query.typeGarment placeholder="Type de vêtement")
              
          .col-sm-6
            form(class="formSize")
              
              input.text.form-control(name='size', value=query.size placeholder="Taille")
          .col-sm-6
            form()
              input.text.form-control(name='minPrice', value=query.minPrice  placeholder="Prix minimum")
              input.text.form-control(name='maxPrice', value=query.maxPrice  placeholder="Prix maximum" style="margin-bottom:1%;")
              button(type="submit"  class="price" ) Prix 
        .row.mx-auto
            each product in products
                .col-sm-6.col-md-4
                  .card 
                    img(src=product.image, alt=product.name style="width:55%;").card-img-top 
                    .card-body
                      h3.card-title= product.name
                      h5
                        | Prix : 
                        span.badge.badge-pill.badge.dark #{product.price} #{product.currency}
                        span #{product.color}
                      hr
                      .d-flex 
                        a(href="/produit/"+product.id).btn.btn-outline-light.btn-sm.mr-2 Voir le produit
                        form(action="/ajouter-au-panier", method="POST")
                          input(type="hidden", name="productId", value=product.id)
                          button(type="submit").btn.btn-outline-light.btn-sm Ajouter au panier
                   
        footer.text-center.text-lg-start(style='background-color: #23274f;')
            .container.d-flex.justify-content-center.py-5
              button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;' )
                i.fab.fa-facebook-f
              button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;' )
                i.fab.fa-linkedin 
              button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;')
                i.fab.fa-instagram
              button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;')
                i.fab.fa-twitter

                          
                  